<section class="content-header"><h1>Add Books</h1></section>

<section class="content">
  <div class="box">
    <div class="box-body">
      
      <form class="row" role="form" novalidate name="addBook">
        
        <div class="col-md-6">
          <div class="form-group">
            <label>Book Name</label>
            <input ng-model="profile.book_name" type="text" class="form-control" placeholder="Enter First Name" />
          </div>

          <div class="form-group">
            <label>Description</label>
            <input ng-model="profile.description" type="text" class="form-control" placeholder="Enter First Name" />
          </div>

          <div class="form-group">
            <label>Price</label>
            <input ng-model="profile.first_name" type="text" class="form-control" placeholder="Enter First Name" />
          </div>

          <div class="form-group">
            <label>Cover Image</label>
            <input ng-model="profile.last_name" type="text" class="form-control" placeholder="Enter Last Name" />
          </div>

          
        </div>

        <span class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <button class="btn btn-primary" ng-disabled="!addBook.$dirty" ng-click="updateProfile()">Add</button>
          <!-- <button class="btn btn-danger pull-right" tabindex="-1" ng-click="profile = {}">Reset Form</button> -->
        </span>

      </form>
    </div>
  </div>

</section>